*~
*.aux
*.bak
*.cache
*.cfg
*.class
*.config
*.exe
*.hi
*.ho
*.log
*.o
*.obj
*.pdb
*.stderr
*.stdout
.DS_Store
.project

# Directories
.bloop/
.bsp/
.gradle/
.idea/
.metals/
.project
.scala-build/
.settings/
.vscode/
build/
obj/
out/
target/

# Claude specific
CLAUDE.md
CLAUDE*local.md
.claude/

# Project specific
.adt
.ali
*_LOCAL.ini
*_LOCAL.json
*_LOCAL.md
*_LOCAL.txt
*_LOCAL/

